@page
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@model IndexModel



@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Home page";
    string myName = (SignInManager.IsSignedIn(User)) ? UserManager.GetUserAsync(User).Result.Name : "";
}

<div id="SideSpacing" style="margin-left: 5.0rem !important; margin-right: 5.0rem !important;">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row" style="margin-bottom: 5.0rem !important;">
            <div class="col-sm-12">
                <h3 class="text-info" align="center">Hello: @myName</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2.0rem !important;">
            <div class="col-sm-12">
                <a class="btn btn-block btn-lg btn-info" asp-area="Identity" asp-page="/Account/Logout">Logout @myName</a>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-bottom: 2.0rem !important;">
            <div class="col-sm-12">
                <a class="btn btn-block btn-lg btn-info" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    }
    <div class="row" style="margin-bottom: 2.0rem !important;">
        <div class="col-sm-12">
            <a class="btn btn-block btn-lg btn-warning" asp-page="/Vehicles/Index">Vehicles</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 2.0rem !important;">
        <div class="col-sm-12">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-block btn-lg btn-primary" asp-page="/FillUps/Index">Fill ups</a>
            }
            else
            {
                <a class="btn btn-block btn-lg btn-primary disabled" asp-page="/FillUps/Index">Fill ups</a>
            }
        </div>
    </div>
</div>
</div>